<div>
  <h2 id="page-heading" data-cy="AppUserHeading">
    <span>App Users</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-app-user"
        [routerLink]="['/app-user/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new App User </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="appUsers?.length === 0">
    <span>No App Users found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="appUsers && appUsers.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="idUser">
            <div class="d-flex">
              <span>Id User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="email">
            <div class="d-flex">
              <span>Email</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="password">
            <div class="d-flex">
              <span>Password</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="balance">
            <div class="d-flex">
              <span>Balance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastName">
            <div class="d-flex">
              <span>Last Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="firstName">
            <div class="d-flex">
              <span>First Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="user.id">
            <div class="d-flex">
              <span>User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="idUserType.id">
            <div class="d-flex">
              <span>Id User Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let appUser of appUsers; trackBy: trackIdUser" data-cy="entityTable">
          <td>
            <a [routerLink]="['/app-user', appUser.idUser, 'view']">{{ appUser.idUser }}</a>
          </td>
          <td>{{ appUser.email }}</td>
          <td>{{ appUser.password }}</td>
          <td>{{ appUser.balance }}</td>
          <td>{{ appUser.lastName }}</td>
          <td>{{ appUser.firstName }}</td>
          <td>
            {{ appUser.user?.id }}
          </td>
          <td>
            <div *ngIf="appUser.idUserType">
              <a [routerLink]="['/user-type', appUser.idUserType.id, 'view']">{{ appUser.idUserType.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/app-user', appUser.idUser, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/app-user', appUser.idUser, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(appUser)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
