<div>
  <h2 id="page-heading" data-cy="IncidentHeading">
    <span>Incidents</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-incident"
        [routerLink]="['/incident/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Incident </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="incidents?.length === 0">
    <span>No Incidents found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="incidents && incidents.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span>Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="time">
            <div class="d-flex">
              <span>Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="idIncidentStatus.id">
            <div class="d-flex">
              <span>Id Incident Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="idAppUser.idUser">
            <div class="d-flex">
              <span>Id App User</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="idJourney.id">
            <div class="d-flex">
              <span>Id Journey</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let incident of incidents; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/incident', incident.id, 'view']">{{ incident.id }}</a>
          </td>
          <td>{{ incident.description }}</td>
          <td>{{ incident.time | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="incident.idIncidentStatus">
              <a [routerLink]="['/incident-status', incident.idIncidentStatus.id, 'view']">{{ incident.idIncidentStatus.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="incident.idAppUser">
              <a [routerLink]="['/app-user', incident.idAppUser.idUser, 'view']">{{ incident.idAppUser.idUser }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="incident.idJourney">
              <a [routerLink]="['/journey', incident.idJourney.id, 'view']">{{ incident.idJourney.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/incident', incident.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/incident', incident.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(incident)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
