<div>
  <h2 id="page-heading" data-cy="JourneyHeading">
    <span>Journeys</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-journey"
        [routerLink]="['/journey/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Journey </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="journeys?.length === 0">
    <span>No Journeys found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="journeys && journeys.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>Id</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="distance">
            <div class="d-flex">
              <span>Distance</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="journeyDuration">
            <div class="d-flex">
              <span>Journey Duration</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="actualDepartureTime">
            <div class="d-flex">
              <span>Actual Departure Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="plannedDepartureTime">
            <div class="d-flex">
              <span>Planned Departure Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="actualArrivalTime">
            <div class="d-flex">
              <span>Actual Arrival Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="plannedArrivalTime">
            <div class="d-flex">
              <span>Planned Arrival Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ticketPrice">
            <div class="d-flex">
              <span>Ticket Price</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="numberOfStops">
            <div class="d-flex">
              <span>Number Of Stops</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="timeOfStops">
            <div class="d-flex">
              <span>Time Of Stops</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="minutesLate">
            <div class="d-flex">
              <span>Minutes Late</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="idJourneyStatus.id">
            <div class="d-flex">
              <span>Id Journey Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="idTrain.id">
            <div class="d-flex">
              <span>Id Train</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="idCompany.id">
            <div class="d-flex">
              <span>Id Company</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="idRailwayStationDeparture.id">
            <div class="d-flex">
              <span>Id Railway Station Departure</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="idRailwayStationArrival.id">
            <div class="d-flex">
              <span>Id Railway Station Arrival</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let journey of journeys; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/journey', journey.id, 'view']">{{ journey.id }}</a>
          </td>
          <td>{{ journey.distance }}</td>
          <td>{{ journey.journeyDuration }}</td>
          <td>{{ journey.actualDepartureTime | formatMediumDatetime }}</td>
          <td>{{ journey.plannedDepartureTime | formatMediumDatetime }}</td>
          <td>{{ journey.actualArrivalTime | formatMediumDatetime }}</td>
          <td>{{ journey.plannedArrivalTime | formatMediumDatetime }}</td>
          <td>{{ journey.ticketPrice }}</td>
          <td>{{ journey.numberOfStops }}</td>
          <td>{{ journey.timeOfStops }}</td>
          <td>{{ journey.minutesLate }}</td>
          <td>
            <div *ngIf="journey.idJourneyStatus">
              <a [routerLink]="['/journey-status', journey.idJourneyStatus.id, 'view']">{{ journey.idJourneyStatus.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="journey.idTrain">
              <a [routerLink]="['/train', journey.idTrain.id, 'view']">{{ journey.idTrain.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="journey.idCompany">
              <a [routerLink]="['/company', journey.idCompany.id, 'view']">{{ journey.idCompany.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="journey.idRailwayStationDeparture">
              <a [routerLink]="['/railway-station', journey.idRailwayStationDeparture.id, 'view']">{{
                journey.idRailwayStationDeparture.id
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="journey.idRailwayStationArrival">
              <a [routerLink]="['/railway-station', journey.idRailwayStationArrival.id, 'view']">{{
                journey.idRailwayStationArrival.id
              }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/journey', journey.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/journey', journey.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(journey)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
