<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-incident-heading" data-cy="IncidentCreateUpdateHeading">Create or edit a Incident</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" for="field_id">Id</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_description">Description</label>
          <input
            type="text"
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          />
          <div *ngIf="editForm.get('description')!.invalid && (editForm.get('description')!.dirty || editForm.get('description')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('description')?.errors?.required"> This field is required. </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_time">Time</label>
          <div class="d-flex">
            <input
              id="field_time"
              data-cy="time"
              type="datetime-local"
              class="form-control"
              name="time"
              formControlName="time"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('time')!.invalid && (editForm.get('time')!.dirty || editForm.get('time')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('time')?.errors?.required"> This field is required. </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('time')?.errors?.datetimelocal">
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_idIncidentStatus">Id Incident Status</label>
          <select
            class="form-control"
            id="field_idIncidentStatus"
            data-cy="idIncidentStatus"
            name="idIncidentStatus"
            formControlName="idIncidentStatus"
            [compareWith]="compareIncidentStatus"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="incidentStatusOption" *ngFor="let incidentStatusOption of incidentStatusesSharedCollection">
              {{ incidentStatusOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_idAppUser">Id App User</label>
          <select
            class="form-control"
            id="field_idAppUser"
            data-cy="idAppUser"
            name="idAppUser"
            formControlName="idAppUser"
            [compareWith]="compareAppUser"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="appUserOption" *ngFor="let appUserOption of appUsersSharedCollection">{{ appUserOption.idUser }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_idJourney">Id Journey</label>
          <select
            class="form-control"
            id="field_idJourney"
            data-cy="idJourney"
            name="idJourney"
            formControlName="idJourney"
            [compareWith]="compareJourney"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="journeyOption" *ngFor="let journeyOption of journeysSharedCollection">{{ journeyOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
