<div>
  <h2 id="page-heading" data-cy="CompanyXLicenseHeading">
    <span>Company X Licenses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-company-x-license"
        [routerLink]="['/company-x-license/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Company X License </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="companyXLicenses?.length === 0">
    <span>No Company X Licenses found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="companyXLicenses && companyXLicenses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span>ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="idCompany.id">
            <div class="d-flex">
              <span>Id Company</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="idLicense.id">
            <div class="d-flex">
              <span>Id License</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody
        infinite-scroll
        (scrolled)="loadPage(page + 1)"
        [infiniteScrollDisabled]="page - 1 >= links['last']"
        [infiniteScrollDistance]="0"
      >
        <tr *ngFor="let companyXLicense of companyXLicenses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/company-x-license', companyXLicense.id, 'view']">{{ companyXLicense.id }}</a>
          </td>
          <td>
            <div *ngIf="companyXLicense.idCompany">
              <a [routerLink]="['/company', companyXLicense.idCompany.id, 'view']">{{ companyXLicense.idCompany.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="companyXLicense.idLicense">
              <a [routerLink]="['/license', companyXLicense.idLicense.id, 'view']">{{ companyXLicense.idLicense.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/company-x-license', companyXLicense.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/company-x-license', companyXLicense.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(companyXLicense)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
